:root {
  --primary: #4274fb;
}

.toggle-finnobot {
  background: var(--primary);
  border: none;
  padding: 1rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  transition: 0.3s;
}

.toggle-finnobot-active {
  transform: scale(0);
}

.finnobot {
  height: 60vh;
  background: var(--primary);
  width: 30vw;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all ease-out 0.3s;
  transform: scale(0) translate(500px, 500px);
  border-radius: 2rem;
  z-index: 9999;
}

.finnobot-active {
  transition: 0.4s;
  transform: scale(1);
  bottom: 10vh;
  right: 10vh;
}

.message img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.chatroom__main {
  overflow-y: scroll;
  height: 50vh;
  background: #282c34;

  /* background-repeat: repeat; */
  background-size: cover;
  background-position: center center;
}

.chatroom__drop {
  background: white;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: var(--primary);
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.chatroom__form {
  width: 100%;
  height: 50px;
  background: #192531;
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(172, 172, 172); */
  box-shadow: 1px 1px 40px 1px #192531;
}

.chatroom h1 {
  text-align: center;
}

.chatroom__form input {
  width: 100%;
  height: 60%;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: white;
  background: transparent;
  padding: 0 2rem;
}

.chatroom__form button {
  height: 100%;
  padding: 0 2rem;
  background: var(--primary);
  border: none;
  color: white;
}

.message {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.message p {
  padding: 1rem 2rem;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.459);
  border-radius: 30px;
  max-width: 50%;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  /* background: #0746a6; */
  background: var(--primary);
  align-self: flex-end;
  margin-right: 10px;
}

.sent p::after {
  content: " ";
  background: red;
  height: 10px;
  width: 10px;
}

.received p {
  margin-left: 10px;
  background: #f8f8f8;
  color: black;
}
